body{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    /* text-align: center; */
}

a{
    text-align: left;
}

input{
    width: 50%;
    height: 3rem;
    border-radius: 5px;
    margin: 2em 25%;
    font-size: 18px;
    padding: 0 1em;
}

h1{
    font-size: 36px;
    text-align: center;
    margin: 1em auto;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
    margin-top: 1em;
}

.container>div{
    width: 27%;
    margin: 1.5em;
    padding: 1em;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: antiquewhite;
}

@media screen and (max-width: 450px) {
    .container{
        display: block;
    }

    .container>div{
        width: 80%;
        margin-left: 10%;
    }

    .container>div>p{
        line-height: 1.5;
    }
}