body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-color: #afc3d4;
}

h1{
    font-size: 36px;
    font-weight: 600;
    margin: 1em 0;
    text-align: center;
}

form{
    margin: 1em auto;
    width: 50%;
    padding: 2em ;
    border: 1px solid rgb(168, 155, 155);
    border-radius: 10px;
    background-color: aliceblue;
}

label{
    text-align: left;
    font-size: 20px;
}

input, select{
    height: 3rem;
    width: 97%;
    border: 1px solid aliceblue;
    background-color: rgb(223, 229, 231);
    border-radius: 5px;
    font-size: 18px;
    padding: 0 1em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

select, .submit{
    width: 97%;
}

@media screen and (max-width: 450px) {
    form{
        width: 100%;
    }

    .table{
        width: 100%;
    }
}